/* Ajax Loading */
#ajax-loading {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    display: none;
    overflow: hidden;
    outline: 0;
    background: rgba(0, 0, 0, 0.35);
}
#ajax-loading_content {
    display: table;
    width: 100%;
    height: 100%;
    color: #fff;
}
#ajax-loading_content span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

/* Bootstrap Notify */
.alert[data-notify="container"] {
    border-radius: 3px;
    overflow: hidden;
    padding-left: 60px;
    border: none;
    z-index: 9999 !important;
    box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(49, 49, 49, 0.4);
}
[data-notify="icon"] {
    font-size: 30px;
    display: block;
    left: 15px;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    color: #fff;
}
[data-notify="message"] {
    display: block;
}
.alert [data-notify="dismiss"] {
    color: #fff !important;
    opacity: .6 !important;
}
[data-notify="progressbar"] {
	margin-bottom: 0px;
	position: absolute;
    background-color: #6e6e6e;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 5px !important;
}
